{% extends 'admin/master.html' %}

{% block body %}
{% if current_user.is_authenticated %}
<div class="container mb-5 mt-3">
    <div class="row d-flex align-items-baseline">
        <div class="col-xl-9">
            <p style="color: #7e8d9f;font-size: 20px;">THANH TOÁN HÓA ĐƠN
            </p>
        </div>
        <div class="col-xl-3 float-end">
            <div class="font-weight-bold font-italic">Phòng khám MIYEK</div>
        </div>
        <hr>
    </div>

    <div class="container">
        <div class="col-md-12">
            <div class="text-center">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                     class="bi bi-file-medical" viewBox="0 0 16 16">
                    <path d="M8.5 4.5a.5.5 0 0 0-1 0v.634l-.549-.317a.5.5 0 1 0-.5.866L7 6l-.549.317a.5.5 0 1 0 .5.866l.549-.317V7.5a.5.5 0 1 0 1 0v-.634l.549.317a.5.5 0 1 0 .5-.866L9 6l.549-.317a.5.5 0 1 0-.5-.866l-.549.317V4.5zM5.5 9a.5.5 0 0 0 0 1h5a.5.5 0 0 0 0-1h-5zm0 2a.5.5 0 0 0 0 1h5a.5.5 0 0 0 0-1h-5z"></path>
                    <path d="M2 2a2 2 0 0 1 2-2h8a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H4a2 2 0 0 1-2-2V2zm10-1H4a1 1 0 0 0-1 1v12a1 1 0 0 0 1 1h8a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1z"></path>
                </svg>
                <div>
                    <p class="pt-0 font-weight-bold">Chọn ngày:</p>
                    <div class="justify-content-center d-flex center">
                        <input type="date" name="datepicker" value="{{ngayhientai}}" id="chonngay2">
                        <button class="btn btn-primary ml-3" onclick="handleChon2()">Chọn</button>
                    </div>
                </div>
            </div>

        </div>

        <div class="row">
            <div class="col-xl-8">
            </div>
            <div class="col-xl-4">

            </div>
        </div>

        <div class="row my-2 mx-1 justify-content-center">
            <table class="table table-striped table-borderless auto-index">
                <thead style="background-color:#84B0CA ;" class="text-white">
                <tr>
                    <th scope="col" class="text-center">ID</th>
                    <th scope="col" class="text-center">Ngày khám</th>
                    <th scope="col" class="text-center">Giá tiền khám</th>
                    <th scope="col" class="text-center">Họ tên</th>
                    <th scope="col" class="text-center">Giới tính</th>
                    <th scope="col" class="text-center">Ngày sinh</th>
                    <th scope="col" class="text-center">Giá tiền thuốc</th>
                    <th scope="col" class="text-center">Thanh toán</th>
                    <!--                    <th scope="col" class="text-center"></th>-->
                </tr>
                </thead>
                <tbody>
                {% for h in hoadons %}
                <tr>
                    <td>{{h.id}}</td>
                    <td>{{h.ngaykham}}</td>
                    <td>{{ "{:,.0f}".format(h['gia_kham']) }} VND</td>
                    <td>{{h.ten}}</td>
                    <td>{% if h.gioitinh == 0 %} Nam {% else %} Nữ {% endif %}</td>
                    <td>{{h.ngaysinh}}</td>
                    <td>{{ "{:,.0f}".format(h.value)}} VND</td>
                    <td>
                        {% if h.isThanhtoan == 0 %}
                        <button
                                class="d-flex justify-content-center btn btn-danger thanh-toan-btn"
                                data-toggle="modal"
                                data-target="#exampleModal"
                                onclick="load_chitiethoadon({{h.id}})">
                            CHƯA THANH TOÁN
                        </button>
                        {% else %}
                        <button class="d-flex justify-content-center btn btn-success thanh-toan-btn" disabled>
                            ĐÃ THANH TOÁN
                        </button>
                        {% endif %}
                    </td>
                    </td>
                </tr>
                {% endfor %}
                </tbody>
            </table>

            <ul class="pagination mt-3">
                {% for i in range (1, pages+1)%}
                <li class="page-item"><a class="page-link" href="?page={{i}}">{{i}}</a></li>
                {% endfor %}
            </ul>
            <!-- Modal -->
            <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel"
                 aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered modal-lg">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Chi tiết hóa đơn</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <div class="row d-flex align-items-baseline mb-2">
                                <div class="col-xl-6">
                                    <div class="form-group">
                                        <label>Mã hóa đơn:</label>
                                        <div class="text-light p-2 bg-info font-weight-normal rounded"
                                             id="modal-mahoadon"></div>
                                    </div>
                                    <div class="form-group">
                                        <label>Tên khách hàng:</label>
                                        <div class="text-light p-2 bg-info font-weight-normal rounded"
                                             id="modal-tenkhachhang"></div>
                                    </div>
                                    <div class="form-group">
                                        <label>Số điện thoại:</label>
                                        <div class="text-light p-2 bg-info font-weight-normal rounded"
                                             id="modal-sdt"></div>
                                    </div>
                                </div>
                                <div class="col-xl-6">
                                    <div class="form-group">
                                        <label>Tổng hóa đơn:</label>
                                        <div class="text-light p-2 bg-info font-weight-normal rounded"
                                             id="modal-tongtien"></div>
                                    </div>
                                    <div class="form-group">
                                        <label>Ngày sinh:</label>
                                        <div class="text-light p-2 bg-info font-weight-normal rounded"
                                             id="modal-ngaysinh"></div>
                                    </div>
                                    <div class="form-group">
                                        <label>Ngày khám:</label>
                                        <div class="text-light p-2 bg-info font-weight-normal rounded"
                                             id="modal-ngaykham"></div>
                                    </div>
                                </div>
                            </div>

                            <div class="row d-flex align-items-baseline">
                                <table class="table table-striped table-borderless auto-index">
                                    <thead style="background-color:#84B0CA ;" class="text-white">
                                    <tr>
                                        <th scope="col" class="text-center">STT</th>
                                        <th scope="col" class="text-center">Tên thuốc/dịch vụ</th>
                                        <th scope="col" class="text-center">Số lượng</th>
                                        <th scope="col" class="text-center">Đơn giá</th>
                                        <th scope="col" class="text-center">Tổng cộng</th>
                                    </tr>
                                    </thead>
                                    <tbody id="tableBody">
                                    <tr>
                                        <td class="text-center">1</td>
                                        <td class="text-center"></td>
                                        <td class="text-center"></td>
                                        <td class="text-center"></td>
                                        <td class="text-center"></td>
                                        <td class="text-center"></td>
                                        <td class="text-center"></td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>

                        </div>
                        <div class="modal-footer">
                            <div class="col-xl-3 d-flex justify-content-start">
                                <button type="button" class="btn btn-secondary mr-2 btn-danger" data-dismiss="modal">Thoát</button>
                            </div>
                            <div class="col-xl-9 d-flex justify-content-end">
                                <button type="button" class="btn btn-secondary mr-4" id="thanhtoanbtn" data-hoadonid="" onclick="confirmthanhtoan(this)">Thanh toán tại quầy</button>
                                <button type="button" class="btn btn-primary">Thanh toán qua MOMO</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="{{ url_for('static', filename='js/main.js') }}"></script>

{% else %}
{% endif %}
{% endblock %}
