{% extends 'admin/master.html' %}

{% block body %}
{% if current_user.is_authenticated %}

<div class="row">
    <div class="col">
        <nav aria-label="breadcrumb" class="bg-light rounded-3 p-3 mb-4">
            <ol class="breadcrumb mb-0">
                <li class="breadcrumb-item"><a href="/">Trang chủ</a></li>
                <li class="breadcrumb-item"><a href="/tai-khoan">Tài khoản</a></li>
            </ol>
        </nav>
    </div>
</div>
<div class="row">
    <div class="col-lg-4">
        <div class="card mb-4">
            <div class="card-body text-center">
                <img src="{{current_user.avatar}}" alt="avatar" class="rounded-circle img-fluid" style="width: 150px;">
                <h5 class="my-3"></h5>
                <p class="text-muted mb-1">@{{current_user.username}}</p>
                <p class="text-muted mb-4">{{current_user.ten}}</p>
            </div>
        </div>
    </div>
    <div class="col-lg-8">
        <div class="card mb-4">
            <div class="card-body">
                <div class="row">
                    <div class="col-sm-3">
                        <p class="mb-0">Họ tên</p>
                    </div>
                    <div class="col-sm-9">
                        <p class="text-muted mb-0">{{current_user.ten}}</p>
                    </div>
                </div>
                <hr>
                <div class="row">
                    <div class="col-sm-3">
                        <p class="mb-0">Giới tính</p>
                    </div>
                    <div class="col-sm-9">
                        <p class="text-muted mb-0">Nam</p>
                    </div>
                </div>
                <hr>
                <div class="row">
                    <div class="col-sm-3">
                        <p class="mb-0">Học vị</p>
                    </div>
                    <div class="col-sm-9">
                        <p class="text-muted mb-0">
                            {% if current_user.vaitro|string == 'UserRole.ADMIN' %}
                            ADMIN
                            {% elif current_user.vaitro|string == 'UserRole.BACSI' %}
                            Bác sĩ
                            {% elif current_user.vaitro|string == 'UserRole.YTA' %}
                            Y tá
                            {% else %}
                            {{ current_user.vaitro }}
                            {% endif %}
                        </p>
                    </div>
                </div>
                <hr>
                <div class="row">
                    <div class="col-sm-3">
                        <p class="mb-0">Chuyên khoa</p>
                    </div>
                    <div class="col-sm-9">
                        <p class="text-muted mb-0">{{current_user.chuyenkhoa}}</p>
                    </div>
                </div>
                <hr>
                <div class="row">
                    <div class="col-sm-3">
                        <p class="mb-0">Điện thoại</p>
                    </div>
                    <div class="col-sm-9">
                        <p class="text-muted mb-0">{{current_user.sdt}}</p>
                    </div>
                </div>
                <hr>
                <div class="row">
                    <div class="col-sm-3">
                        {% set search_url = "https://www.google.com/search?q=Bác sĩ " + current_user.ten %}
                        <p class="mb-0"><a href="{{ search_url }}" target="_blank">Tìm hiểu thêm</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% else %}
<div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-lg-8 col-xl-6">
            <div class="card rounded-3">
                <img src="{{ url_for('static', filename='images/login/banner.png') }}" class="w-100"
                     style="border-top-left-radius: .3rem; border-top-right-radius: .3rem;" alt="Sample photo">
                <div class="card-body p-4 p-md-5">
                    <div class="container">
                        <div class="row justify-content-center align-items-center">
                            <div class="col-auto">
                                <h3 class="mb-4 pb-2 pb-md-0 mb-md-5 px-md-2">Đăng nhập</h3>
                            </div>
                        </div>
                    </div>


                    <form class="px-md-2" action="/login-admin" method="POST">
                        <div class="form-floating mb-4 form-floating">
                            <input type="text" id="username" class="form-control" name="username" value=""
                                   placeholder="Username" required="">
                            <label class="form-label" for="username">Username</label>
                        </div>

                        <p class="text-danger d-none">Username không tồn tại</p>

                        <div class="form-floating mb-4 form-floating">
                            <input type="password" id="password" class="form-control" value="" name="password"
                                   placeholder="Mật khẩu" required="">
                            <label class="form-label" for="password">Mật khẩu</label>
                        </div>

                        <p class="text-danger d-none">Mật khẩu không chính xác</p>

                        <div class="form-group mb-4">
                            <label>Đăng nhập với tư cách: </label>
                            <select class="form-select form-inline" aria-label="Default select example" name="role">
                                <option value="patient" selected="">Admin</option>
                                <option value="doctor">Bác sĩ</option>
                                <option value="nurse" selecnted="">Y tá</option>
                                <option value="cashier">Thu ngân</option>
                            </select>
                        </div>
                        <div class="container">
                            <div class="row justify-content-center align-items-center">
                                <div class="col-auto">
                                    <button type="submit" class="btn btn-success btn-lg mb-4 btn-primary">Đăng nhập
                                    </button>
                                </div>
                            </div>
                        </div>

                        <!--              <p class="mb-1" style="color: #000;">Bạn chưa có tài khoản? Đăng ký tại <a href="/dang-ky-tai-khoan" style="color: rgb(0, 102, 255);">đây</a></p>-->
                    </form>

                </div>
            </div>
        </div>
    </div>
</div>
{% endif %}
{% endblock %}