{% extends 'layout/base.html' %}

{% block content %}
<!-- Carousel -->
<div class="container-fluid py-5">
    <div class="ms-4">
        <h5 class="d-inline-block text-primary text-uppercase border-bottom border-5">Tin tức</h5>
        <!--        <h4 class=""><b>Cập nhật nhanh tin tức tại phòng khám</b></h4>-->
    </div>
    <div id="demo" class="carousel slide" data-bs-ride="carousel">
        <!-- Indicators/dots -->
        <div class="carousel-indicators">
            <button type="button" data-bs-target="#demo" data-bs-slide-to="0" class="active"></button>
            <button type="button" data-bs-target="#demo" data-bs-slide-to="1"></button>
            <button type="button" data-bs-target="#demo" data-bs-slide-to="2"></button>
        </div>

        <!-- The slideshow/carousel -->
        <div class="carousel-inner" style="height: 500px">
            <div class="carousel-item active">
                <img src="https://res.cloudinary.com/dq2jtbrda/image/upload/v1733821435/v7rbrknhrt4uz1iqnwzj.jpg"
                     style="object-fit: contain;" alt="Los Angeles"
                     class="d-block w-100">
            </div>

            <div class="carousel-item">
                <img src="https://res.cloudinary.com/dq2jtbrda/image/upload/v1733821435/il65zg5lga2nasvrewyu.jpg"
                     style="object-fit: contain;" alt="Chicago"
                     class="d-block w-100 h-75">
            </div>
            <div class="carousel-item">
                <img src="https://res.cloudinary.com/dq2jtbrda/image/upload/v1733821435/ccf65hzmy2wf2lawe2uo.jpg"
                     style="object-fit: contain;" alt="New York"
                     class="d-block w-100 h-50">
            </div>
        </div>

        <!-- Left and right controls/icons -->
        <button class="carousel-control-prev" type="button" data-bs-target="#demo" data-bs-slide="prev">
            <span class="carousel-control-prev-icon"></span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#demo" data-bs-slide="next">
            <span class="carousel-control-next-icon"></span>
        </button>
    </div>
</div>

<div class="container-fluid py-5">
    <div class="container">
        <div class="row gx-5">
            <div class="col-lg-5 mb-5 mb-lg-0" style="min-height: 500px;">
                <div class="position-relative h-100">
                    <img class="position-absolute w-100 h-100 rounded"
                         src="https://res.cloudinary.com/dq2jtbrda/image/upload/v1733821784/dqgjfdcknl4nesaytmjs.jpg"
                         style="object-fit: cover;">
                </div>
            </div>
            <div class="col-lg-7">
                <div class="mb-4">
                    <h5 class="d-inline-block text-primary text-uppercase border-bottom border-5">Về chúng tôi</h5>
                    <h1 class="display-4"><b>Dịch vụ chăm sóc y tế tốt nhất cho bạn và người thân</b></h1>
                </div>
                <p>Phòng khám đa khoa Miyek được thành lập năm 2024 với niềm tự hào là một trong những Phòng khám điện
                    tử theo tiêu chuẩn quốc tế đầu tiên tại Việt Nam được đầu tư trang thiết bị tiên tiến và hiện đại.

                    Với hệ thống quản lý hồ sơ điện tử, khách hàng xem được toàn bộ kết quả khám và xét nghiệm sau 24h
                    trên Internet nhưng vẫn đảm bảo bí mật kết quả khám tuyệt đối. Việc ứng dụng quản trị hồ sơ điện tử
                    sẽ tiết kiệm thời gian và giảm sự chờ đợi của khách hàng khi đến khám. Toàn bộ kết quả xét nghiệm
                    được chạy bằng hóa chất của chính hãng, không gửi mẫu xét nghiệm ra bên ngoài, không làm quick test.

                    Dựa trên uy tín, chất lượng đã tạo dựng, Phòng khám đa khoa Group21 tin tưởng sẽ trở thành nơi bạn
                    gửi trọn niềm tin trong việc chăm sóc sức khỏe của bản thân và gia đình bạn.</p>
                <div class="row g-3 pt-3">
                    <div class="col-sm-3 col-6">
                        <div class="bg-light text-center rounded-circle py-4">
                            <i class="fa fa-3x fa-user-md text-primary mb-3"></i>
                            <h6 class="mb-0 text-primary">Bác sĩ<small class="d-block text-dark">Kinh nghiệm</small>
                            </h6>
                        </div>
                    </div>
                    <div class="col-sm-3 col-6">
                        <div class="bg-light text-center rounded-circle py-4">
                            <i class="fa fa-3x fa-procedures text-primary mb-3"></i>
                            <h6 class="mb-0 text-primary">Dịch vụ<small class="d-block text-dark">Khẩn cấp</small></h6>
                        </div>
                    </div>
                    <div class="col-sm-3 col-6">
                        <div class="bg-light text-center rounded-circle py-4">
                            <i class="fa fa-3x fa-microscope text-primary mb-3"></i>
                            <h6 class="mb-0 text-primary">Xét nghiệm<small class="d-block text-dark">Chuẩn xác</small>
                            </h6>
                        </div>
                    </div>
                    <div class="col-sm-3 col-6">
                        <div class="bg-light text-center rounded-circle py-4">
                            <i class="fa fa-3x fa-ambulance text-primary mb-3"></i>
                            <h6 class="mb-0 text-primary">Xe cứu thương<small class="d-block text-dark">Miễn phí</small>
                            </h6>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid py-5">
    <div class="mb-4 ms-4">
        <h5 class="d-inline-block text-primary text-uppercase border-bottom border-5">Hướng dẫn</h5>
        <h1 class="display-4"><b>Quy trình khám bệnh tại phòng khám</b></h1>
    </div>
    <img src="https://res.cloudinary.com/dq2jtbrda/image/upload/v1733807137/pu9lwkg5azztegfrpwhs.png"
         alt="" class="process-img text-center w-100">
</div>

<div class="container-fluid py-5">
    <div class="container">
        <div class="text-center mx-auto mb-5" style="max-width: 500px;">
            <h5 class="d-inline-block text-primary text-uppercase border-bottom border-5">Bác sĩ</h5>
            <h1 class="display-4">Đội ngũ bác sĩ giỏi, giàu kinh nghiệm</h1>
        </div>
        <div id="carouselControls" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <div class="cards-wrapper">
                        <div class="card">
                            <img src="{{ url_for('static', filename='images/index/bacsi.jpg') }}" class="card-img-top"
                                 alt="...">
                            <div class="card-body">
                                <h5 class="card-title">Card title</h5>
                                <p class="card-text">Some quick example text to build on the card title and make up the
                                    bulk of
                                    the card's content.</p>
                                <a href="#" class="btn btn-primary">Go somewhere</a>
                            </div>
                        </div>
                        <div class="card d-none d-md-block">
                            <img src="{{ url_for('static', filename='images/index/bacsi.jpg') }}" class="card-img-top"
                                 alt="...">
                            <div class="card-body">
                                <h5 class="card-title">Card title</h5>
                                <p class="card-text">Some quick example text to build on the card title and make up the
                                    bulk of
                                    the card's content.</p>
                                <a href="#" class="btn btn-primary">Go somewhere</a>
                            </div>
                        </div>
                        <div class="card d-none d-md-block">
                            <img src="{{ url_for('static', filename='images/index/bacsi.jpg') }}" class="card-img-top"
                                 alt="...">
                            <div class="card-body">
                                <h5 class="card-title">Card title</h5>
                                <p class="card-text">Some quick example text to build on the card title and make up the
                                    bulk of
                                    the card's content.</p>
                                <a href="#" class="btn btn-primary">Go somewhere</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="cards-wrapper">
                        <div class="card">
                            <img src="{{ url_for('static', filename='images/index/bacsi.jpg') }}" class="card-img-top"
                                 alt="...">
                            <div class="card-body">
                                <h5 class="card-title">Card title</h5>
                                <p class="card-text">Some quick example text to build on the card title and make up the
                                    bulk of
                                    the card's content.</p>
                                <a href="#" class="btn btn-primary">Go somewhere</a>
                            </div>
                        </div>
                        <div class="card d-none d-md-block">
                            <img src="{{ url_for('static', filename='images/index/bacsi.jpg') }}" class="card-img-top"
                                 alt="...">
                            <div class="card-body">
                                <h5 class="card-title">Card title</h5>
                                <p class="card-text">Some quick example text to build on the card title and make up the
                                    bulk of
                                    the card's content.</p>
                                <a href="#" class="btn btn-primary">Go somewhere</a>
                            </div>
                        </div>
                        <div class="card d-none d-md-block">
                            <img src="{{ url_for('static', filename='images/index/bacsi.jpg') }}" class="card-img-top"
                                 alt="...">
                            <div class="card-body">
                                <h5 class="card-title">Card title</h5>
                                <p class="card-text">Some quick example text to build on the card title and make up the
                                    bulk of
                                    the card's content.</p>
                                <a href="#" class="btn btn-primary">Go somewhere</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="cards-wrapper">
                        <div class="card">
                            <img src="..." class="card-img-top" alt="...">
                            <div class="card-body">
                                <h5 class="card-title">Card title</h5>
                                <p class="card-text">Some quick example text to build on the card title and make up the
                                    bulk of
                                    the card's content.</p>
                                <a href="#" class="btn btn-primary">Go somewhere</a>
                            </div>
                        </div>
                        <div class="card d-none d-md-block">
                            <img src="..." class="card-img-top" alt="...">
                            <div class="card-body">
                                <h5 class="card-title">Card title</h5>
                                <p class="card-text">Some quick example text to build on the card title and make up the
                                    bulk of
                                    the card's content.</p>
                                <a href="#" class="btn btn-primary">Go somewhere</a>
                            </div>
                        </div>
                        <div class="card d-none d-md-block">
                            <img src="..." class="card-img-top" alt="...">
                            <div class="card-body">
                                <h5 class="card-title">Card title</h5>
                                <p class="card-text">Some quick example text to build on the card title and make up the
                                    bulk of
                                    the card's content.</p>
                                <a href="#" class="btn btn-primary">Go somewhere</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <button class="carousel-control-prev" type="button" data-bs-target="#carouselControls" data-bs-slide="prev">
                <span class="carousel-control-prev-icon"></span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselControls" data-bs-slide="next">
                <span class="carousel-control-next-icon"></span>
            </button>
        </div>

    </div>
</div>

<div class="container-fluid py-5">
    <div class="container">
        <div class="text-center mx-auto mb-5" style="max-width: 500px;">
            <h5 class="d-inline-block text-primary text-uppercase border-bottom border-5"><b>ĐÁNH GIÁ CỦA BỆNH
                NHÂN</b>
            </h5>
            <h1 class="display-4">Các bệnh nhân nói gì về dịch vụ của chúng tôi?</h1>
        </div>
        <!-- Carousel wrapper -->

        <div class="row">
            <div class="col-md-7 col-12">
                <div id="carouselFeedback" data-mdb-carousel-init
                     class="carousel slide text-center carousel-dark"
                     data-mdb-ride="carousel">
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <img class="rounded-circle shadow-1-strong mb-4"
                                 src="https://mdbcdn.b-cdn.net/img/Photos/Avatars/img%20(10).webp" alt="avatar"
                                 style="width: 150px;"/>
                            <div class="row d-flex justify-content-center">
                                <div class="col-lg-8">
                                    <h5 class="mb-3">Maria Kate</h5>
                                    <p>Photographer</p>
                                    <p class="text-muted">
                                        <i class="fas fa-quote-left pe-2"></i>
                                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Minus et deleniti
                                        nesciunt sint eligendi reprehenderit reiciendis, quibusdam illo, beatae quia
                                        fugit consequatur laudantium velit magnam error. Consectetur distinctio fugit
                                        doloremque.
                                    </p>
                                </div>
                            </div>
                            <ul class="list-unstyled d-flex justify-content-center text-warning mb-0">
                                <li><i class="fas fa-star fa-sm"></i></li>
                                <li><i class="fas fa-star fa-sm"></i></li>
                                <li><i class="fas fa-star fa-sm"></i></li>
                                <li><i class="fas fa-star fa-sm"></i></li>
                                <li><i class="far fa-star fa-sm"></i></li>
                            </ul>
                        </div>
                        <div class="carousel-item">
                            <img class="rounded-circle shadow-1-strong mb-4"
                                 src="https://mdbcdn.b-cdn.net/img/Photos/Avatars/img%20(32).webp" alt="avatar"
                                 style="width: 150px;"/>
                            <div class="row d-flex justify-content-center">
                                <div class="col-lg-8">
                                    <h5 class="mb-3">John Doe</h5>
                                    <p>Web Developer</p>
                                    <p class="text-muted">
                                        <i class="fas fa-quote-left pe-2"></i>
                                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Minus et deleniti
                                        nesciunt sint eligendi reprehenderit reiciendis.
                                    </p>
                                </div>
                            </div>
                            <ul class="list-unstyled d-flex justify-content-center text-warning mb-0">
                                <li><i class="fas fa-star fa-sm"></i></li>
                                <li><i class="fas fa-star fa-sm"></i></li>
                                <li><i class="fas fa-star fa-sm"></i></li>
                                <li><i class="fas fa-star fa-sm"></i></li>
                                <li><i class="far fa-star fa-sm"></i></li>
                            </ul>
                        </div>
                        <div class="carousel-item">
                            <img class="rounded-circle shadow-1-strong mb-4"
                                 src="https://mdbcdn.b-cdn.net/img/Photos/Avatars/img%20(1).webp" alt="avatar"
                                 style="width: 150px;"/>
                            <div class="row d-flex justify-content-center">
                                <div class="col-lg-8">
                                    <h5 class="mb-3">Anna Deynah</h5>
                                    <p>UX Designer</p>
                                    <p class="text-muted">
                                        <i class="fas fa-quote-left pe-2"></i>
                                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Minus et deleniti
                                        nesciunt sint eligendi reprehenderit reiciendis, quibusdam illo, beatae quia
                                        fugit consequatur laudantium velit magnam error. Consectetur distinctio fugit
                                        doloremque.
                                    </p>
                                </div>
                            </div>
                            <ul class="list-unstyled d-flex justify-content-center text-warning mb-0">
                                <li><i class="fas fa-star fa-sm"></i></li>
                                <li><i class="fas fa-star fa-sm"></i></li>
                                <li><i class="fas fa-star fa-sm"></i></li>
                                <li><i class="fas fa-star fa-sm"></i></li>
                                <li><i class="far fa-star fa-sm"></i></li>
                            </ul>
                        </div>
                    </div>
                    <button class="carousel-control-prev" type="button" data-bs-target="#carouselFeedback" data-bs-slide="prev">
                        <span class="carousel-control-prev-icon"></span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#carouselFeedback" data-bs-slide="next">
                        <span class="carousel-control-next-icon"></span>
                    </button>
                </div>
            </div>
            <div class="col-md-5 col-12">
                <form>
                    <h2 id="phanhoi">Phản hồi</h2>
                    <div class="mb-3">
                        <label for="exampleInputEmail1" class="form-label">Họ và tên</label>
                        <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                        <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
                    </div>
                    <div class="mb-3">
                        <label for="exampleInputPassword1" class="form-label">Nghề nghiệp</label>
                        <input type="text" class="form-control" id="exampleInputPassword1">
                    </div>
                    <div class="mb-3">
                        <label for="exampleInputPassword1" class="form-label">Cảm nhận của bạn về dịch vụ</label>
                        <input type="text" class="form-control" id="exampleInputPassword1">
                    </div>

                    <div class="d-flex justify-content-between align-items-center">
                        <div class="ratings">
                            <div class="rating"><input type="radio" name="rating" value="5" id="5"><label
                                    for="5">☆</label>
                                <input type="radio" name="rating" value="4" id="4"><label for="4">☆</label> <input
                                        type="radio"
                                        name="rating"
                                        value="3"
                                        id="3"><label
                                        for="3">☆</label> <input type="radio" name="rating" value="2" id="2"><label
                                        for="2">☆</label> <input type="radio" name="rating" value="1" id="1"><label
                                        for="1">☆</label>
                            </div>
                        </div>
                        <h5 class="review-count">245 Đánh giá</h5>
                    </div>

                    <button type="submit" class="btn btn-primary">Submit</button>
                </form>
            </div>
        </div>


    </div>
</div>

{% endblock %}